<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.chattr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SERVICES -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".messaging.MyMqttService" />

        <!-- ACTIVITIES -->
        <activity
            android:name=".startup.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.HomeActivity"
            android:label="@string/home_title"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messaging.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".editing.add_contacts.NewManualContactActivity"
            android:label="NewManuallContactActivity" />
        <activity
            android:name=".menu.FaqActivity"
            android:label="@string/title_activity_faq" />
        <activity
            android:name=".editing.EditContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".startup.SignUpActivity" />
        <activity android:name=".editing.add_contacts.ShowQrActivity" />
        <activity android:name=".editing.add_contacts.NfcBeamActivity" />
        <activity android:name=".menu.PersonalProfileActivity" />
        <activity android:name=".editing.EditPersonalProfileActivity" />
        <activity android:name=".ContactActivity"></activity>
    </application>

</manifest>