<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.chattr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--SERVICES-->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".mqtt_chat.MyMqttService" />

        <!--ACTIVITIES-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.david.chattr.HomeActivity"
            android:label="@string/home_title"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".profiles.personal.PersonalProfileActivity"
            android:label="@string/personal_profile_title"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <activity android:name=".SignUpActivity" />
        <activity android:name=".profiles.contacts.ShowQrActivity" />

        <activity
            android:name=".chatting.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".profiles.contacts.EditContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>
</manifest>